
$box-color: #555;
$font-color: #fff;

#app {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	line-height: 18;
	text-align: center;
	padding: 20px;
	background-color: $box-color;
	color: $font-color;
}